<%- include("templates/header") %>

<h1>Cats!</h1>

<div class="row mb-3 text-center">
    <div class="col-sm-4 themed-grid-col"><img class="img-fluid" src="/marble.jpeg"></div>
    <div class="col-sm-4 themed-grid-col"><img class="img-fluid" src="/pearl.png"></div>
    <div class="col-sm-4 themed-grid-col"><img class="img-fluid" src="/socks.gif"></div>
</div>

<%- include("templates/footer") %>