<%- include("templates/header") %>

<h1 class="py-3" style="color:red">Error!</h1>
<h3 class="py-3"><%= error %></h3>
<button class="btn btn-primary rounded-pill px-3" onclick="history.back()">Go back</button>

<%- include("templates/footer") %>