<%- include("templates/header") %>

<% if (!authenticated) { %>
    <a class="btn btn-primary rounded-pill px-3" href="/signup">Sign up</a>
    <a class="btn btn-secondary rounded-pill px-3" href="/login">Log in</a>
<% } else { %>
    <h1 class="py-3">Hello, <%= name %>!</h1>
    <a class="btn btn-primary rounded-pill px-3" href="/cats">Cats</a>
    <a class="btn btn-warning rounded-pill px-3" href="/logout">Log out</a>
<% } %>

<%- include("templates/footer") %>